@using HealthifyMeFinalProject.Models
@using HealthifyMeFinalProject.Models.Enums
@using Microsoft.AspNetCore.Identity
@model HealthifyMeFinalProject.Models.CustomerDetail
@*----- to find if user is logged in *@
@inject SignInManager<ApplicationUser> _signInManager

@*----- gets the user object to see properties, roles *@
@inject UserManager<ApplicationUser> _userManager
@{
    bool isLoggedIn = _signInManager.IsSignedIn(this.User);

    bool isUserCustomer = false;
    ApplicationUser user = await _userManager.GetUserAsync(this.User);         // gets the Logged In User
    if (user != null)
    {
        isUserCustomer = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.Member.ToString());
    }
}

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CustomerDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age) years
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height) Ft/In
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentWeight) Kg
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetWeight) Kg
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicalCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicalCondition)
        </dd>
    </dl>
</div>
<div>
    @if (isUserCustomer) {
        <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a>
        <a asp-action="Index">Back to List</a>
    }
</div>
