@model HealthifyMeFinalProject.Models.AssignTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AssignTask</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetail.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dietitian)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dietitian.DietitianName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exercise)
        </dd>
        
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="" asp-route-id="">Explore Dietitian</a>
</div>
